/* google fonts */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --sideBGColor: rgb(22, 21, 22);
    --themeColor: rgb(12, 213, 173);
    --iconBGColor: rgb(74, 65, 65);
    --tectColor: rgb(66, 66, 66);
    --bgColor: rgb(248, 248, 248);

}
header {
    height: 100vh;
    width: 300px;
    padding: 15px, 30px;
    background-color: var(--sideBGColor);
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    transition: 0.4s;
    z-index: 99;
}
header .profil {
    text-align: center;
    margin: 10px, 0;
}
header .profil img {
    width: 150px;
    border-radius: 20%;
    border: 100px, solid var(--iconBGColor);
    margin-top: 20px;
}
header .profil h1 {
    color: rgb(255, 255, 255);
    font-weight: 900;
}
header .profil .icone a{
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    line-height: 37px;
    background-color: var(--iconBGColor);
    color: white;
    font-size: 18px;
    margin: 1.5px;
    transition: 0.4s;
}
header .profil .icone a:hover{
    background-color: var(--themeColor);
}
header nav{
    margin-top: 30px;
    margin-left: 30px;
}
header nav ul li{
    list-style: none;
}
header nav ul li a{
    color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: flex;
    padding: 10px;
    margin: 10px, 0;
    font-weight: 50px;
    font-size: 15px;
    letter-spacing: 2px;
   
}
header nav ul li a i{
    margin-right: 10px;
    font-size: 15px;
    transition: 0.4s;
}
header nav ul li a:hover i{
    color: var(--themeColor);
}
header nav ul li .active {
         color: var(--themeColor);
}
header .footer{
    text-align: center;
    background-color: var(--sideBGColor);
    width: 300px;
    color: rgb(212, 235, 224);
    font-size: 14px;
    letter-spacing: 0.6px;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: 0.4s;
}
header .footer a{
    color: var(--themeColor);
}
#menubtn{
    position: fixed;
    top: 25px;
    right: 25px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    color: white;
    background-color: var(--themeColor);
    text-align: center;
    line-height: 42px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
    z-index: 999;
    display: none;
}
@media only screen and (max-width: 1050px){
    header{

    left: -300px;
}
header .footer{
    left: -300px;
}
#menubtn{
    display: block;
}
}
.mobile-nav-active header{
    left: 0px;

}
.mobile-nav-active header .footer{
    left: 0;
    
}
main{
    
    margin-left: 300px;
    background-color: var(--bgColor);
    transform: 0.3s;
}
@media only screen and (max-width: 1050px){
    main{
        margin-left: 0;
    }
}
#home{
    height: 100vh;
    width: 100%;
    background-image: url(IMG_9515.png);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px;
    position: relative;
}
#home::before{
   content: '';
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.501);
   position: absolute;
   top: 0;
   left: 0;
}
#home .home{
    z-index: 1;
}
@media only screen and (max-width: 600px) {
    #home .home img{
        width: 200px;
    }
}
#home .home h1{
    font-size: 60px;
    color: white;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 10px;
    line-height: 70px;
}
#home .home h1 span{
    color: var(--themeColor);
}
#home .home p{
    color: whitesmoke;
    font-size: 30px;
    font-weight: 500;
}
#home .home p span{
    border-bottom: 4px solid var(--themeColor);
}
@media only screen and (max-width: 300px){
    #home{
        padding: 100px;
    }
    #home .home h1{
        font-size: 35px;
        letter-spacing: 0px;
        line-height: 50px;
    }
    #home .home h1 br{
        display: none;
    }
}
#about-me{
    padding: 70px 30px;
}
.sub-heading{
    color: black;
    font-size: 30px;
    margin-bottom: 10px;
}
.divider{
    width: 80px;
    height: 4px;
    background-color: var(--themeColor);
    border-radius: 3px;
}
.sub-para{
    color: var(--tectColor);
    font-size: 15px;
    letter-spacing: 0.40px;
    font-weight: 400;
    margin-top: 15px;
}
#about-me .about-col{
    display: flex;
    gap: 20px;
    margin-top: 25px;
}
#about-me .about-col .img-col{
    flex-basis: 30%;
    text-align: center;
}
#about-me .about-col .info-col{
    flex-basis: 70%;
}
#about-me .about-col .info-col h2{
    color: var(--themeColor);
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 0.5px;
    margin-top: 10px;
}
#about-me .about-col .info-col p{
    color: var(--tectColor);
    font-size: 15px;
    letter-spacing: 0.5px;
    font-style: normal;
}
#about-me .about-col .info-col .icon-col{
    display: flex;
    margin-top: 20px; 
}
#about-me .about-col .info-col .icon-col .icon-list ul li{
    list-style: none;
    margin: 15px 0;
}
#about-me .about-col .info-col .icon-col .icon-list ul li i{
    color: var(--themeColor);
}
#about-me .about-col .info-col .icon-col .icon-list ul li strong{
    color: var(--sideBGColor);
    font-weight: 600;
    margin-right: 2px;
}
#about-me .about-col .info-col .icon-col .icon-list ul li span{
    color: var(--tectColor);
    font-weight: 800;
    font-size: 15px;
}
@media only screen and (max-width: 830px){
    #about-me{
        padding: 50px 10px;
    }
    #about-me .divider ~ p{
        font-size: 15px;
        letter-spacing: 0.0px;
       text-align: justify;
    }
    #about-me .about-col{
      flex-direction: column;
    }
    #about-me .about-col .img-col img{
       width: 200px;
    }
    
}
#skill{
    padding: 70px 30px;
}

#skill .all-skill .skills .skill-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}
#skill .all-skill .skills .skill-info h2{
    color: var(--iconBGColor);
    font-weight: 600;
    font-size: 15px;
    font-style: italic;
}
#skill .all-skill .skills .skill-line{
    width: 100%;
    height: 10px;
    background-color: lightgray;
    border-radius: 15px;
}
#skill .all-skill .skills  .skill-line .skill-inner{
    height: 10px;
    background-color:var(--themeColor);
    border-radius: 20px;
}
.resume{
    padding: 70x 30px;
    margin: 10px;
}
.resume .resume-row{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 35px;
}
.resume .resume-row .resume-cols{
    flex-basis: 50%;

}
.resume .resume-row .resume-cols h2{
    color: var(--sideBGColor);
    font-weight: 600;
    font-size: 25px;
    margin: 15px 0;
}
.resume .resume-row .resume-cols{
    padding: 0 20px 0 20px;
    margin: 20px 0;
    border-left: 2px solid var(--themeColor);
    position: relative;

}
.resume .resume-row .resume-cols::before{
    content: '';
    position: absolute;
    top: 0px;
    left: -10px;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    border: 2px solid var(--themeColor);
    background-color: white;
}
.resume .resume-row .resume-cols h3{
    color: var(--sideBGColor);
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}
.resume .resume-row .resume-cols .sp-box{
    padding: 4px 22px;
    background-color: lightblue;
    color: var(--tectColor);
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
    margin: 15px 0;
    display: inline-block;
}
#portofolio{
    padding: 70px 30px;
}

#portofolio .port-row{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
}
#portofolio .port-row .port-item{
    position:relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
}
#portofolio .port-row .port-item .port-img img{
    width: 100%;
    border-radius: 10px;
}
#portofolio .port-row .port-item .port-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--themeColor);
    padding: 0 15px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transform: scale(0);
    transition: 0.5s;
    border-radius: 10px;
    visibility: hidden;
}
#portofolio .port-row .port-item:hover .port-info{
    transform: scale(1);
    visibility: visible;
}
#portofolio .port-row .port-item .port-info h4{
    color: var(--bgColor);
    font-size: 25px;
    font-weight: 600;

}
@media only screen and (max-width:650px){
    #portofolio{
        padding: 50px 10px;
    }
    
    #portofolio .port-row{
        margin: 50px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
}
#contact{
    padding: 70px 30px;
}
#contact .contact-row{
    margin-top: 50px;
    display: flex;
    gap: 20px;
    width: 100%;
}
#contact .contact-row .contact-left{
    flex-basis: 40%;
    min-width: 40%;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
    border-radius: 15px;
    padding: 30px;
}
#contact .contact-row .contact-left .icon-box{
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 30px 0;
}
#contact .contact-row .contact-left .icon-box .icon i{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--themeColor);
    text-align: center;
    line-height: 47px;
    font-size: 20px;
    color: var(--themeColor);
    transition: 0.5s;


}
#contact .contact-row .contact-left .icon-box:hover .icon i{
    background-color: var(--themeColor);
    color: var(--bgColor);
}
@media only screen and (max-width: 800px){
    #contact{
        padding: 10px;
    }
    #contact .contact-row{
        flex-direction: column;
        gap: 10px;
        
    }
}
@media only screen and (max-width: 800px){
    #info{
        padding: 50px;
    }
    #info .resume-row{
        flex-direction: column;
        gap: 10px;
        
    }
}

